@tailwind base;
@tailwind components;
@tailwind utilities;

.prose img {
    display: none; /* This will hide all images */
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  margin-bottom: 1rem; /* Spacing at the bottom */
}

.youtube-container iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; /* Optional: Removes the border around the iframe */
}

