@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  background: purple !important;
  height: 2px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px purple, 0 0 5px purple !important;
}
